<h2><%= @dish.name %></h2>
<p><%= @dish.description %></p>

<% @dish.ingredients.each do |ingredient| %>
    <li><%= ingredient.name %></li>
<% end %>
<br>
<p>Total Calories: <%= @dish.total_calorie_count %></p>

<h3>Created by: <%= @dish.chef.name %></h3>
